/*-------------------------------------------------------------
                        header
-------------------------------------------------------------*/
.top-head{
    height: 300px;
    width: 100%;
    background: url(./img/top.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-head .content{
    width: 980px;
    margin: 0 auto;
    color: #3e3e3e;
}

.top-head .content > h1{
    text-shadow: 2px  2px 3px whitesmoke,
                -2px  2px 3px whitesmoke,
                +2px -2px 3px whitesmoke,
                -2px -2px 3px whitesmoke;
}


.top-head li.logo{
    padding: 10px 0px 0px 0px;
    display: block;
    text-align: center;
}

.top-head li.logo img{
    padding: 0px 0px 0px 0px;
    margin: 0;
    width: auto;
    height: 150px;
    opacity: 1;
}

.top-head li.logo a{
    padding: 0px 0px 0px 0px;
    display: block;
    opacity: 1;
    margin: 0;
}

/*-------------------------------------------------------------
                        navbar
-------------------------------------------------------------*/
.top-nav{
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #ff511c 0%, #ae4d30 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #ff511c 0%, #ae4d30 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff511c), color-stop(1, #ae4d30));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #ff511c 0%, #ae4d30 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #ff511c 0%, #ae4d30 100%);
    box-shadow: 0px -2px 3px #00b7ff;
}

.top-nav ul{
    margin: 0 auto;
    width: 980px;
}

.top-nav li{
    float: left;
}

.top-nav a{
    text-decoration: none;
    display: block;
    opacity: .5;
}

.top-nav .nav-link{
    color: white;
    width: 160px;
    font-size: 16px;
    text-align: center;
    padding: 18px 0px;
    display: block;
}

.top-nav .nav-link.active{
    opacity: 1;
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #ff511c 0%, #ae4d30 100%);
    /* Opera */
    background-image: -o-linear-gradient(bottom, #ff511c 0%, #ae4d30 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff511c), color-stop(1, #ae4d30));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #ff511c 0%, #ae4d30 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #ff511c 0%, #ae4d30 100%);
    box-shadow: 0px -2px 3px #00b7ff;
}

.top-nav .nav-link:hover{
    opacity: 1;
}

.top-nav li.list-border{
    width: 2px;
    background-color: #784000d2;
    display: block;
    height: 60px;
    border-right: 1px solid #fff;
    opacity: 0.5;
}

.clear {
    clear: both;
}

/*-------------------------------------------------------------
                        main-banner
-------------------------------------------------------------*/
.main-banner{
    margin: 0;
    color: #3e3e3e;
    
    padding: 10px 0px 0px 0px;
    display: block;
    text-align: center;
}

.main-banner .top-banner{
    padding: 0px 0px 0px 0px;
    margin: 0;
}

.main-banner .top-banner img{
    padding: 0px 0px 0px 0px;
    margin: 0;
    opacity: 1;
}

.main-banner ul{
    clear: both;
    position: fixed;
    left: 50%; 
    float: left;
}

.main-banner li{
    position: relative;
    left: -50%; 
    float: left;
    list-style: none;
}

.main-banner li img{
    width: 150px;
}

/*-------------------------------------------------------------
                        main-content
-------------------------------------------------------------*/
.main-content{
    padding: 10px;
    background-color: #f4f9ea;
    padding-top: 30px;
    text-align: center;
}

.box{
    background-color: #fff;
}

@media screen and (max-width:480px) {
    * {
        float: none;
        position: static;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}